.navBarUl__item {
    float: left;
    list-style-type: none;
}

.navBarUl__item a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'montserrat-Regular';
    font-size: 14px;
    line-height: 11px;
    font-weight: 300;
    padding: 0 30px;
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .navBarUl__item a {
        padding: 0 15px;
    }  
}

@media (min-width: 900px) and (max-width: 1279px) {
    .navBarUl__item a {
        font-size: 12px;
        padding: 0 5px;
    }  
}

@media (max-width: 899px) {
    .navBarUl__item a {
        font-size: 10px;
        padding: 0 2px;
    }  
}